body {
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    background: #f3f3f3 url(/images/bgs/paper.cream.jpg);
    color: #333333;
}

footer {
    background: #000000;
    color: #aaaaaa;
    font-size:11pt;
}

a:hover {
    text-decoration: none !important;
}

footer > div {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    display: table;
    table-layout: fixed;
}

footer > div > div {
    display: table-cell;
    vertical-align: top;
}

footer a {
    width:150px;
    color: #eeeeee;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

footer a:hover {
    color: #ff6600;
}

footer a.logo {
    height: 100px;
    line-height: 100px;
}

footer section{
    margin:0 auto;
    width:100%;
    max-width: 1150px;
    padding:10px 0 0 0;
}
header {
    z-index: 99;
    display: block;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    color: #ffffff;
}

.header-container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.header-left {
    padding: 25px 0 0 0;
    font-size: 10pt;
    line-height: 150%;
    font-weight: 300;
    float: left;
    width: 200px;
    color:#ffcccc;
}

.header-left:first-line {
    font-size: 25pt;
    font-weight: 400;
    color:#ffffff;
}

.header-left:hover{
    color:#ffcccc;
}

.menu {
    margin: 0 0 0 200px;
    text-align: right;
    z-index: 99;
    line-height: 80px
}

.menu a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px 0 35px;
    margin: 0 5px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    background-size: 20px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border-radius: 4px;
    transition-duration: .3s;
}

.menu a[data-menu="articles"] {
    background-image: url(/images/icons/article.white.png);
}

.menu a[data-menu="articles"]:hover {
    background-image: url(/images/icons/article.black.png);
}

.menu a[data-menu="words"] {
    background-image: url(/images/icons/list.white.png);
}

.menu a[data-menu="words"]:hover {
    background-image: url(/images/icons/list.black.png);
}

.menu a[data-menu="account"] {
    background-image: url(/images/icons/account.white.png);
}

.menu a[data-menu="account"]:hover {
    background-image: url(/images/icons/account.black.png);
}

.menu a[data-menu="us-flag"]:after {
    content: "🇺🇸";
    font-size: 15pt;
}

.menu a[data-menu="ru-flag"]:after {
    content: "🇷🇺";
    font-size: 15pt;
}

.menu a:hover {
    text-decoration: none;
}

.menu a:hover {
    background-color: #ffffff;
    color: #000000;
}

@media (min-width: 999px) {
}

@media (max-width: 600px) {
}

@-webkit-keyframes colorchange {
    0% {
        color: #ffffff;
    }
    20% {
        color: #a86eff;
    }
    40% {
        color: #6ea8ff;
    }
    60% {
        color: #6effc5;
    }
    80% {
        color: #ffdb6e;
    }
    100% {
        color: #ff57f1;
    }
}