.articles {
    font-size: 0;
    margin:-1%;
    text-align:center;
}

.articles a {
    display: inline-block;
    width: 23%;
    height: 250px;
    vertical-align: top;
    position: relative;
    margin: 1%;
    border: 5px #ffffff solid;
    border-bottom: 10px #ffffff solid;
    background: center top no-repeat;
    background-size: 100% auto;
    font-size: 13px;
    line-height: 130%;
    transition-duration: .2s;
    text-align:left;
}

.articles > a > div {
    position: absolute;
    left: 0;
    top: 140px;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    background: #ffffff;
    padding: 5px;
    color: #556677;
}

.articles a h3 {
    display: block;
    font-size: 15px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    color: #000000;
}

.articles a span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 145px;
    right: 0;
    height: 95px;
    background: rgba(10, 20, 30, 0.9);
    color: #ffffff;
    text-align: center;
    line-height: 90px;
    font-size: 20pt;
    font-weight: 100;
    text-transform: uppercase;
    transition-duration: .2s;
}

.articles a:hover {
    box-shadow: 1px 1px 10px #555555;
}

.articles a:hover span {
    opacity: 1;
}

.article {
    margin-top: 100px;
    padding: 20px;
}

#article-translate {
    display: none;
    z-index: 101;
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
}

#article-translate-original,
#article-translate-translated {
    font-size: 20px;
    font-weight: 600;
    color: #ffffcc;
}

#article-translate-original:after {
    content: ": ";
}

#article-translate-translated {
    color: #ff9966;
}

.article{
    margin:100px 0;
    padding:20px;
}
.article-content{
    max-width:600px;
}
.article-content img{
    width:100%;
    max-width:600px;
    margin:50px 0;
}

@media (max-width: 600px) {
    .articles > * {
        display: block;
        width: 100%;
        height: 190px;
        margin: 0 10px 20px 0;
    }

    #article-translate {
        top: 30px;
    }
}