.categories{
    font-size:0;
    background:rgba(255,255,255,1);
}
.categories > *{
    vertical-align:middle;
    display:inline-block;
    width:20%;
    text-align:center;
    text-decoration:none;
    border-right:1px #EEEEEE solid;
    border-bottom:1px #eeeeee solid;
    font-size:11pt;
    font-weight:600;
    height:60px;
    line-height:60px;
    text-transform: uppercase;
    color:#334455;
}
.categories > *:hover {
    background:#777777;
    color:#ffffff;
}