* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    background: #f3f3f3 url(/images/bgs/paper.cream.jpg);
    color: #333333;
}

.body-container {
    padding: 80px 0 200px 0;
    min-height: 100%;
    margin-bottom: -200px;
}

main{
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

footer {
    height: 200px;
    background: #000000;
    color: #aaaaaa;
    padding: 20px;
}