
h2 {
    font-size:20pt;
    font-weight:200;
}

.ws{
    background-color:#ffffff;
    box-shadow:1px 1px 4px #cccccc;
}

.search {
    margin:0 auto;
    max-width:800px;
    display: table;
    width: 100%;
    padding: 20px;
    border-spacing: 10px;
}
.search > * {
    display: table-cell;
    vertical-align: top;
    padding: 0 5px;
    width:25%;
}
.search > *:first-child {
    width:50%;
}

.search select, .search option, .search input[type='text'] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 13pt;
    padding: 3px 10px;
    border-radius: 3px;
    border: 0;
    width: 100%;
    margin: 0;
    outline: none;
    font-weight: 300;
    background:#eaecef;
}

.search label {
    font-size: 13pt;
}
.search input[type='submit']{
    display:block;
    text-align:center;
    width:100%;
}

.banner {
    max-width: 1000px;
    margin: 50px auto;
    padding: 10px 30px 20px 30px;
    font-size: 20pt;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
}

a.green-button{
    display: inline-block;
}
.green-button {
    margin: 15px 0 0 0;
    background: #28a745;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 3px;
    transition-duration: .3s;
    font-size: 20pt;
    font-weight: 300;
    border:0;
    box-shadow:2px 2px 2px #cccccc;
}

.green-button:hover {
    color: #ffffff;
    background: #1e7e34;
}