.images-line {
    width: 100%;
    height: 200px;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
}

.images-line > * {
    display: table-cell;
    background: center;
    background-size: cover;
}